@page
@model WD_ERECORD_CORE.Pages.User.SystemAdminPageModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "User Management";
}

<!--begin::Main-->
<!--begin::Header Mobile-->
<partial name="_PartialMobileHeader" />
<!--end::Header Mobile-->
<!--begin::Page-->
<!--begin::Aside-->
@await Component.InvokeAsync("Aside", new { current = "user" })
<!--end::Aside-->
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    @await Component.InvokeAsync("Header", new { current = "User Management" })
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Form Management List-->
                <div class="card card-custom card-stretch">
                    <!--begin::Body-->
                    <div class="card-body">
                        <form class="mb-15">
                            <div class="row mb-6">
                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>User Name:</label>
                                    <input type="text" class="form-control datatable-input" placeholder="E.g: KXXX BXXXXXXXX" data-col-index="0" />
                                </div>
                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>Email Address:</label>
                                    <input type="text" class="form-control datatable-input" placeholder="E.g: XXXXXX@wdc.com" data-col-index="1" />
                                </div>
                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>Employee Id:</label>
                                    <input type="text" class="form-control datatable-input" placeholder="E.g: 13XXXXX" data-col-index="2" />
                                </div>
                            </div>
                            <div class="row mb-8">
                                <div class="col-lg-3 mb-lg-0 mb-6">
                                    <label>Cost Center Name:</label>
                                    <select class="form-control datatable-input" data-col-index="3" asp-items="@ViewBag.CostCenterSelectList">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 mb-lg-0 mb-6">
                                    <label>Department:</label>
                                    <select class="form-control datatable-input" data-col-index="4" asp-items="@ViewBag.DepartmentList">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 mb-lg-0 mb-6">
                                    <label>System Role:</label>
                                    <select class="form-control datatable-input" data-col-index="5" asp-items="@ViewBag.RoleList">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 mb-lg-0 mb-6">
                                    <label>Export Action:</label>
                                    <button class="btn btn-primary d-block" id="export_table">Export Table</button>
                                </div>
                            </div>
                            <div class="row mt-8">
                                <div class="col-lg-12">
                                    <button class="btn btn-primary btn-primary--icon" id="kt_search">
                                        <span>
                                            <i class="la la-search"></i>
                                            <span>Search</span>
                                        </span>
                                    </button>&#160;&#160;
                                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                                        <span>
                                            <i class="la la-close"></i>
                                            <span>Reset</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--begin: Datatable-->
                        <table class="table table-bordered table-hover table-checkable" id="user_datatable" style="margin-top: 13px !important">
                            <thead>
                                <tr>

                                    <th>User Id</th>
                                    <th>Email</th>
                                    <th>User Name</th>
                                    <th>Role</th>
                                    <th>Employee Id</th>
                                    <th>Employee Type</th>
                                    <th>Title</th>
                                    <th>Department</th>
                                    <th>Manager Name</th>
                                    <th>Manager Id</th>
                                    <th>Cost Center Name</th>
                                    <th>Cost Center Id</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                        </table>
                        <!--end: Datatable-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Form Management List-->
                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <partial name="_Footer" />
    <!--end::Footer-->
</div>
<!--end::Wrapper-->
<!--end::Page-->
<!--end::Main-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/assets/js/scripts.bundle.js"></script>
<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>

<script type='text/javascript'>
    var dataTableAdvancedSearch = function () {
        var initDataTable = function () {
            var table = $("#user_datatable").DataTable(
                {
                    stateSave: true,
                    autoWidth: true,
                    responsive: true,
                    processing: true,
                    serverSide: true,
                    paging: true,
                    searching: { regex: true },
                    lengthMenu: [10, 25, 50, 100, 500, 1000, 2500, 5000],
                    dom: `<'row'<'col-sm-12'tr>>
			    <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                    buttons: [
                        {
                            extend: 'csvHtml5',
                            text: 'Export Excel',
                            title: 'User List',
                            exportOptions: {
                                columns: ':not(:last-child)',
                                modifier: {
                                    page: 'current'
                                }
                            }
                        }
                    ],
                    language: {
                        'lengthMenu': 'Display _MENU_',
                    },
                    ajax: {
                        url: "@Url.Action("LoadAllUserTable", "DataTable")",
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: function (d) {
                            return JSON.stringify(d);
                        }
                    },
                    columns: [
                        { data: "userName" },
                        { data: "email" },
                        { data: "displayName" },
                        { data: "roleName" },
                        { data: "employeeId" },
                        { data: "employeeType" },
                        { data: "title" },
                        { data: "department" },
                        { data: "managerName" },
                        { data: "managerId" },
                        { data: "costCenterName" },
                        { data: "costCenterId" },
                        { data: null, responsivePriority: -1 }
                    ],
                    columnDefs: [
                        {
                            targets: 3,
                            orderable: false,
                            data: null,
                            render: function (data, type, full, meta) {
                                if (data === null || data === "") {
                                    return "No Role";
                                }
                                return data;
                            }
                        },
                        {
                            targets: -1,
                            orderable: false,
                            data: null,
                            render: function (data, type, full, meta) {
                                return '<a class="btn btn-sm btn-clean btn-icon" title="Edit details" href="@Url.Action("SystemAdminEdit", "User")/' + full.userId + '"><i class="la la-edit"></i></a>';
                            }
                        }
                    ]
                }
            );

            var filter = function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                table.column($(this).data('col-index')).search(val ? val : '', false, false).draw();
            };

            var asdasd = function (value, index) {
                var val = $.fn.dataTable.util.escapeRegex(value);
                table.column(index).search(val ? val : '', false, true);
            };

            $('#kt_search').on('click', function (e) {
                e.preventDefault();
                var params = {};
                $('.datatable-input').each(function () {
                    var i = $(this).data('col-index');
                    if (params[i]) {
                        params[i] += '|' + $(this).val();
                    }
                    else {
                        params[i] = $(this).val();
                    }
                });
                $.each(params, function (i, val) {
                    table.column(i).search(val ? val : '', false, false);
                });
                table.table().draw();
            });

            $('#kt_reset').on('click', function (e) {
                e.preventDefault();
                $('.datatable-input').each(function () {
                    $(this).val('');
                    table.column($(this).data('col-index')).search('', false, false);
                });
                table.table().draw();
            });

            $('#createddate-datepicker').datepicker({
                todayHighlight: true,
                templates: {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>',
                }
            });

            $('#modifieddate-datepicker').datepicker({
                todayHighlight: true,
                templates: {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>',
                }
            });

            $('#export_table').on('click', function (e) {
                e.preventDefault();
                table.button(0).trigger();
            });

            $("form").keypress(function (e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                    $('#kt_search').trigger("click");
                    return false;
                }
                else {
                    return true;
                }
            });
        };

        return {
            init: function () {
                initDataTable();
            }
        };
    }();

    jQuery(document).ready(function () {
        dataTableAdvancedSearch.init();
    });
</script>
